.contenedor{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 80vw;
    margin: 0 auto;
}

.cargar{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 80vw;
    margin: 0 auto;
}